body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: #0482b8;
  font-family: 'Bangers', cursive;
  font-size: 36px;
  letter-spacing: 0.3em;
  text-align: center;
}

p {
  margin: 1px 0;
}

.canvas-container {
  width: 100%;
  text-align: center;
}

.menu-container {
  background-color: #9ddaf4;
  border: 2px solid #0482b8;
  height: 100px;
  margin: 0 auto;
  position: relative;
  width: 800px;
}

canvas {
  display: inline-block;
  cursor: hand;
  cursor: pointer;
  margin: 0 auto;
}

.tower-button {
  background-color: white;
  border-radius: 7px;
  cursor: hand;
  cursor: pointer;
  width: 90px;
  height: 90px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 90px;
}

#simple-tower {
  left: 5px;
}

#flash-tower {
  left: 100px;
}

.tower-image {
  margin-top: 5px;
}

.lives-left {
  background-color: #adff74;
  border-radius: 7px;
  height: 90px;
  right: 5px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 90px;
}

#number-of-lives {
  font-size: 50px;
}
