body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: #0482b8;
  font-family: 'Bangers', cursive;
  font-size: 36px;
  letter-spacing: 0.3em;
  text-align: center;
}

p {
  margin: 1px 0;
}

.row {
  width: 100%;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.instructions {
  float: left;
  text-align: center;
  width: 20%;
}

.canvas-container {
  float: left;
  text-align: center;
  width: 60%;
}

.tower-descriptions {
  float: left;
  text-align: center;
  width: 20%;
}

.tower-text {
  font-size: 14px;
}

.menu-container {
  background-color: #9ddaf4;
  border: 2px solid #0482b8;
  height: 100px;
  margin: 0 auto;
  position: relative;
  width: 800px;
}

#tower-prompt {
  color: #c20000;
  margin: 0 auto;
  position: relative;
  width: 800px;
  display: none;
}

#click-build-site-prompt {
  color: #c20000;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 800px;
}

h5 {
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 10px;
}

canvas {
  display: inline-block;
  cursor: hand;
  cursor: pointer;
  margin: 0 auto;
}

.win-screen,
.lose-screen {
  display: inline-block;
  cursor: hand;
  cursor: pointer;
  margin: 0 auto;
  width: 800px;
  height: 500px;
  background-color: white;
  z-index: 5;
  display: none;
}

.win-title,
.lose-title {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 5px;
}

.star {
  width: 50px;
  display: none;
}

.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
  background-color: #6FC6FF;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
  background-color: #FF983C;
}

.tower-button {
  border-radius: 7px;
  width: 90px;
  height: 90px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 90px;
}

#simple-tower {
  left: 5px;
}

#flash-tower {
  left: 100px;
}

.tower-image {
  margin-top: 5px;
}

.lives-left {
  background-color: #adff74;
  border-radius: 7px;
  height: 90px;
  right: 5px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 90px;
}

.monies {
  background-color: #adff74;
  border-radius: 7px;
  height: 90px;
  right: 105px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 90px;
}

.start-button {
  right: 205px;
  position: absolute;
  text-align: center;
  top: 5px;
}

.start-button button {
  height: 30px;
  width: 80px;
  cursor: hand;
  cursor: pointer;
}

.fast-foward-button button {
  height: 30px;
  width: 80px;
  cursor: hand;
  cursor: pointer;
}

.fast-foward-button {
  right: 205px;
  position: absolute;
  text-align: center;
  top: 5px;
}

#number-of-lives {
  font-size: 50px;
}

#money-amount {
  font-size: 30px;
}


.inactive {
  cursor: default;
  background-color: grey;
}

.active {
  background-color: white;
  cursor: hand;
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .instructions,
  .tower-descriptions {
    width: 15%;
  }

  .canvas-container {
    width: 70%;
  }
}
