h1 {
  color: blue;
  text-align: center;
}

.canvas-container {
  width: 100%;
  /*text-align: center;*/
}

.menu-container {
  width: 800px;
  height: 100px;
  background-color: black;
  position: relative;
  /*margin: 0 auto;*/
}

canvas {
  /*margin: 0 auto;*/
  display: inline-block;
  cursor: pointer;
  cursor: hand;
}

#simple-tower {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  cursor: hand;
}

#flash-tower {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 5px;
  left: 100px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  cursor: hand;
}
